<nav class="navbar navbar-expand-lg" style="background-color: #ea8400;">
  <img src="../../assets/TE_Connectivity_logo.svg.png"
  width="80"
  class="d-inline-block align-text-top" style="margin-left: 2%;">
  <!-- <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Consult</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Import
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/import/TEIS" routerLinkActive="active-link">TEIS</a></li>
          <li><a class="dropdown-item"  routerLink="/import/TeleCommunication" routerLinkActive="active-link">Another action</a></li>
          <li><a class="dropdown-item" href="">Something else here</a></li>
        </ul>
      </li>
    </ul>
  </div> -->
</nav>
