

<form [formGroup]="ConfigForm">
  <div mat-dialog-content  >
    <div>
        <input type="file" (change)="onFileChange($event) " multiple="false" class="custom-file-input" accept=".xlsx, .xls">

          <div class="div-mat">
          <!-- <mat-form-field appearance="outline">
            <mat-label>Euro</mat-label>
            <input matInput type="number" placeholder="Euro" disabled [value]="1">
            <mat-icon matSuffix>euro_symbol</mat-icon>
          </mat-form-field> -->

          <mat-form-field appearance="outline">
            <mat-label>1EURO => MAD</mat-label>
            <input matInput type="number" min="0" placeholder="EX. 11.32" formControlName="MAD" #box type="number" (keyup.enter)="onEnter(box.value)">
            <mat-icon matSuffix style="font-size: 20px;">DH</mat-icon>
          </mat-form-field>

          <p *ngIf="value">{{value}}MAD == 1EURO</p>
          <!-- <p>You entered: {{ userInput$ | async }}</p> -->
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="col-sm">
            <mat-label>Charged Entity</mat-label>
            <input matInput type="number" min="0" placeholder="Charged Entity" disabled [value]="2183">
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-sm">
            <mat-label>Charged_Org_Name</mat-label>
            <input matInput type="number" min="0" placeholder="Charged_Org_Name" disabled [value]="2183">
          </mat-form-field>
        </div>
    </div>

    <div *ngIf="data && value">
      <h1>conversion</h1>
      <div class="row">
        <div class="col-sm">
          <h2>Input :</h2>
          <ng-container *ngIf="headers">
            <mat-form-field *ngFor="let header of headers; let i = index" appearance="outline">
              <mat-label>{{ header }}</mat-label>
              <input matInput placeholder="{{ header }}" value="{{ data[0][i] }}" >
            </mat-form-field>
          </ng-container>
        </div>

        <div class="col-sm">
          <h2>Output :</h2>
          <ng-container *ngIf="headers">
            <mat-form-field *ngFor="let header of headers; let i = index" appearance="outline">
              <mat-label>{{ header }}</mat-label>
              <input matInput placeholder="{{ header }}" value="{{ data[0][i] }}">
            </mat-form-field>
          </ng-container>
        </div>
      </div>

    </div>


  </div>
</form>

<div mat-dialog-close [align]="'end'">
  <button mat-raised-button color="primary" type="submit" (click)="addBill()">Confirme</button>
  <button mat-raised-button color="warn" mat-dialog-close style="margin-left: 9px; margin-right: 15px;">Close</button>
</div>
