.chartBox {
  width: 70vw;
  height: calc(50vw - 190px);
  padding: 20px;
  border-radius: 20px;
  // border: solid 3px rgb(36, 37, 37);
  background: white;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.3);

  margin-left: 3%;
}
